@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(221, 228, 245);
}

.sectionTitle {
    margin: 5px;
    padding: 5px;
    align-items: center;
    text-align: center;
    font-size: xx-large;
}

.sectionDescription {
    margin: 5px;
    padding: 5px;
    align-items: center;
    text-align: center;
    font-size: large;
}

.gridContainer {
    margin: 5px 5px 5px 5px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    align-items: start;
   }

.mainContent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.sidebar {
    background-color: #ddd;
    padding: 20px;
}

.sidebarContent {

}
.categoryCard {
    background-color: #ddd;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .gridContainer {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}