* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(221, 228, 245);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.box-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffff;
  width: 40%;
  height: 500px;
  border-radius: 8px;
  gap: 30px;
  flex-wrap: wrap;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.name,
.email,
.telefone {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}



.btn-concluir {
  background-color: #5167b2;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid black;
}